/* global styles */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

nav a:hover {
  color: #00bfff;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* specific section styles */
#about {
  background-color: #f8f8f8;
  padding: 50px;
}

#experience {
  padding: 50px;
}

#projects {
  background-color: #f8f8f8;
  padding: 50px;
}

#contact {
  padding: 50px;
}
#profile-image {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
#social {
  margin-top: 50px;
  text-align: center;
}

#social h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

#social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#social li {
  margin: 0 10px;
}

#social a {
  color: #000;
  font-size: 32px;
  text-decoration: none;
}

#social a:hover {
  color: #0077B5;
}

